footer{
    font-size: 25px;
    border: 5px solid yellow;
    border-radius: 15px;
    margin-top: 20px;
    height: 100%;
    background-image: url(/img/fondo-web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
#texto-footer{
    color: white;
}